@model GeraClasseMvc.Web.Models.PrincipalViewModel;

<div class="container">
    @using (Html.BeginForm("GeraDadosPrincipais", "Principal"))
    {
        <!-- #region TEXTAREA -->
        <div>
            @if (!string.IsNullOrEmpty(Model.InformacaoTextArea))
            {
                @Html.TextAreaFor(m => m.InformacaoTextArea, new { id = "InformacaoTextArea", @class = "form-control", rows = "15", cols = "12" })
            }
        </div>
        <!-- #endregion -->
        <!-- #region METADADOS -->
        <div class="form-row mt-4 pl-1">
            <div class="col-10">
                <label class="custom-file-label font-weight-bold"></label>
                @Html.EditorFor(m => m.Metadados, new { id = "ArquivoMetadados", htmlAttributes = new { type = "file", @class = "custom-file-input", @readonly = "true" } }) });
            </div>

            <div class="col-2">
                <button type="button" class="btn btn-secondary" id="btnGerarClasse" name="btnGerarClasse">
                    <span id="titulo-botao-confirmar"></span>
                </button>
            </div>
        </div>
        <!-- #endregion -->
        <!-- #region SELECT -->
        <div class="form-row mt-3 container-dropdown">
            <div class="col-4">
                <label for="IdeDesenvolvimento" class="titulo-label">IDE de Desenvolvimento</label>
                @if (Model.ListaDeIdeDesenvolvimento != null)
                {
                    @Html.DropDownList("IdeDesenvolvimento", (IEnumerable<SelectListItem>)Model.ListaDeIdeDesenvolvimento, new { id = "dpdIdeDesenvolvimento", @class = "form-control titulo-label-select", required = "false" });
                }
            </div>
            <div class="col-4">
                <label for="EstiloFormulario" class="titulo-label">Estilo do Formulário</label>
                @if (Model.ListaDeEstiloFormulario != null)
                {
                    @Html.DropDownList("EstiloFormulario", (IEnumerable<SelectListItem>)Model.ListaDeEstiloFormulario, new { id = "dpdEstiloFormulario", @class = "form-control titulo-label-select", required = "false" });
                }
            </div>
            <div class="col-4">
                <label for="BancoDeDados" class="titulo-label">Banco de Dados</label>
                @if (Model.ListaDeBancoDeDados != null)
                {
                    @Html.DropDownList("BancoDeDados", (IEnumerable<SelectListItem>)Model.ListaDeBancoDeDados, new { id = "dpdBancoDeDados", @class = "form-control titulo-label-select", required = "false" });
                }
            </div>
        </div>
        <!-- #endregion -->
    }
</div>